@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Charm');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

body
{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.topbar
{
    font-family: Lobster;
    width: 100vw;
    padding: 0.75vw;   
    text-align: center;
    color: white;
    font-size: 2vw;
    background-color: black;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    
}

.toptext
{
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}

.logout_btn
{
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    justify-self: right;
    width: 20vw;
}

.logt_btn
{
    height: 5vh;
    width: 10vw;
    background: white;
    border: 0.25vh solid black;
    font-weight: bold;
    font-family: Kaushan Script;
    font-size: 2.5vh;

    align-content: center;
    cursor: pointer;
}

.top_content
{
    font-family: Dancing Script;
    text-align: center;
    font-size: 3vw;
    padding: 2.5vw;
    font-weight: bold;
}

.hello
{
    font-family: Satisfy;
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
    margin-top: 4vh;
}

.form
{
    width: 100vw;
    padding: 2vw;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.head
{
    font-family: Charm;
    font-size: 2vw;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    text-align: center;
    margin-bottom: 2vw;
    font-weight: bold;
}

.textbox
{
    border: 0.15vw solid black;
    width: 75vw;
    height: 5vh;
    padding: 0.5vw;
    font-family: Charm;
    caret-color: black;
    font-size: 1.25vw;

    outline: none;
}

.answer
{
    border: 0.15vw solid black;
    width: 25vw;
    height: 5vh;
    padding: 0.5vw;
    font-family: Charm;
    caret-color: black;
    font-size: 1.25vw;

    outline: none;
}

.optn
{
    border: 0.15vw solid black;
    width: 25vw;
    height: 4vh;
    padding: 0.5vw;
    font-family: Charm;
    caret-color: black;
    font-size: 1.25vw;

    outline: none;
}

.ques
{
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    justify-self: center;
    padding: 1vh;
}

.ans
{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
    padding: 1vh;
}

.points
{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    justify-self: center;
    padding: 1vh;
}

.opt1
{
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
    padding: 1vh;
}

.opt2
{
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    justify-self: center;
    padding: 1vh;
}

.opt3
{
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
    padding: 1vh;
}

.opt4
{
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
    justify-self: center;
    padding: 1vh;
}

.btn
{
    grid-row: 5 / span 1;
    grid-column: 1 / span 2;
    justify-self: center;
    padding-top: 5vh;
}

.button
{
    width: 77vw;
    height: 6vh;
    background-color: black;
    border: 0.45vh solid black;

    font-family: Kaushan Script;
    color: white;
    font-size: 2.5vh;
    cursor: pointer;
}